.landing {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin: auto;
}


.distortion {
    width: 640px;
    height: 640px;
    align-self: center;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.54); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.54);
}


.intro {
    align-self: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    
}

.intro h2 {
    font-size: 50px;
}

.intro p {
    font-size: 25px;
}